*{
	padding: 0;
	margin: 0;
}

html, body {
	font-family: $font-stack-primary;
	color: $color-primary;
}

a {
	text-decoration: none;
}

ul {
<<<<<<< HEAD
    list-style: none;
    padding: 0;
    margin: 0;
=======
	list-style: none;
	padding: 0;
	margin: 0;
>>>>>>> b3ed86211bd9dcae71fae1de84f1341ea78ce04f
}
